{% extends 'base.html' %}

  {% block title %}
  <title>登録画面</title>
  {% endblock %}

  {% block body %}
    <form action="/signup" method="POST" enctype="multipart/form-data">
      {% if is_instructor == '0' %}
        <p class="fsize">ユーザー新規登録画面</p>
        <input type="hidden" name="is_instructor" value="0">
      {% elif is_instructor == '1' %}
        <p class="fsize">インストラクター新規登録画面</p>
        <input type="hidden" name="is_instructor" value="1">
       {% elif is_instructor == '2' %}
        <p class="fsize">管理者の新規登録画面</p>
        <input type="hidden" name="is_instructor" value="2">
      {% else %}
        <p class="fsize">ログイン画面</p>
      {% endif %}
      <label>ユーザー名</label>
      <input type="text" placeholder="ユーザー名" name="user_name"/>
      <label>メールアドレス</label>
      <input type="mail" placeholder="メールアドレス" name="mail"/>
      <label>パスワード1</label>
      <input type="password" placeholder="パスワード1" name="password1"/>
      <label>パスワード2</label>
      <input type="password" placeholder="パスワード2" name="password2"/>
      <label>体重</label>
      <input type="text" placeholder="体重" name="latest_weight"/>
      <label>身長</label>
      <input type="text" placeholder="身長" name="height"/>
      <label>目標</label>
      <input type="text" placeholder="目標" name="goal"/>
      <label>自己紹介</label>
      <input type="text" placeholder="自己紹介" name="introduction"/>
      <label>住所</label>
      <input type="text" placeholder="住所" name="address"/>
      <label>アイコン</label>
      <input type="file" name="icon_path" accept="image/*"/>
      {% with messages = get_flashed_messages() %} 
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
       </ul>
      {% endif %} 
      {% endwith %}
      <button type="submit">登録</button>
    </form>
  {% endblock %}
  