<!-- {% block css %} --> <!-- cssブロックの開始 -->
    <link rel="stylesheet" href="../../Static/css/btn3.css">
    <link rel="stylesheet" href="../../Static/css/edit-profile.css">
<!-- {% endblock %} --> <!-- cssブロックの終了 -->

<!-- {% block main %} --> <!-- mainブロックの開始 -->
<div class="main-container"> <!-- メインコンテナ -->
    <h1>プロフィール編集</h1>

    <!-- 戻るボタン -->
    <button onclick="history.back()" class="back-button">戻る</button>

    <div class="container">

        <!-- プロフィール画像のアップロード -->
        <div class="profile-picture">
            <input type="file" id="profile-image" accept="image/*">
            <label for="profile-image">
                <img id="profile-preview" src="../../Static/img/hashimotokanna.jpeg" alt="プロフィール画像">
                <span>画像を変更</span>
            </label>
        </div>


        <!-- ユーザー情報編集フォーム -->
        <form id="edit-profile-form">
            <div class="form-group">
                <label for="username">ユーザー名:</label>
                <input type="text" id="username" name="username" placeholder="ユーザー名を入力" required>
            </div>
            <div class="form-group">
                <label for="email">メールアドレス:</label>
                <input type="email" id="email" name="email" placeholder="メールアドレスを入力" required>
            </div>
            <div class="form-group">
                <label for="height">現在の身長:</label>
                <input type="number" id="height" name="height" placeholder="身長を入力" required>
            </div>
            <div class="form-group">
                <label for="location">所在地:</label>
                <!-- JavaScriptで生成される都道府県のプルダウンメニュー -->
                <select id="location" name="location">
                    <!-- ここに都道府県の選択肢が追加されます -->
                </select>
            </div>
            <div class="form-group">
                <label for="goal">目標:</label>
                <input type="text" id="goal" name="goal" placeholder="目標を入力">
            </div>
            <div class="form-group">
                <label for="bio">自己紹介:</label>
                <textarea id="bio" name="bio" placeholder="自己紹介を入力"></textarea>
            </div>
            <button type="submit">保存</button>
        </form>
    </div>
</div>
<!-- {% endblock %} --> <!-- bodyブロックの終了 -->

<!-- {% block script %} --> <!-- scriptブロックの開始 -->
    <!-- JSファイルのリンク -->
    <script src="../../Static/js/register.js"></script>
<!-- {% endblock %} --> <!-- scriptブロックの終了 -->