{% extends 'menu/base.html' %}

{% block head %}
    <title>ユーザー情報編集</title>
    <link rel="stylesheet" href="../../static/css/mypage.css">
{% endblock %}

{% block body %}
    <div class="container">
        <!-- ユーザー情報 -->
        <div class="profile">
            <form action="/edit-user" method="POST" enctype="multipart/form-data">
                <div class="profile-picture">
                    <img src="{{ user['icon_path']}}" alt="プロフィール画像">
                    <input type="file" name="icon" accept="image/*">
                </div>
                <div class="profile-details">
                    <h2>ユーザー名: <input type="text" name="user_name" value="{{ user['user_name'] }}"></h2>
                    <p>メールアドレス: <input type="email" name="mail" value="{{ user['mail'] }}"></p>
                    <p>パスワード: <input type="password" name="password" placeholder="**********"></p>
                    <p>現在の身長: <input type="text" name="height" value="{{ user['height'] }}">cm</p>
                    <p>目標: <input type="text" name="goal" value="{{ user['goal'] }}"></p>
                    <p>自己紹介: <input type="text" name="introduction" value="{{ user['introduction'] }}"></p>
                    <p>所在地: <input type="text" name="address" value="{{ user['address'] }}"></p>
                </div>
                <div>
                    {% if user['is_instructor'] == 0 %}
                        <div>
                            <input type="radio" name="is_instructor" value="0" checked>
                            <label>一般ユーザー</label>
                        </div>
                        <div>
                            <input type="radio" name="is_instructor" value="1">
                            <label>インストラクター</label>
                        </div>
                    {% elif user['is_instructor'] == 1 %}
                        <div>
                            <input type="radio" name="is_instructor" value="0">
                            <label>一般ユーザー</label>
                        </div>
                        <div>
                            <input type="radio" name="is_instructor" value="1" checked>
                            <label>インストラクター</label>
                        </div>
                    {% endif %}
                </div>
                <div class="buttons">
                    <button type="submit" class="back-button">送信</button>
                </div>
            </form>
            <!-- エラーメッセージの表示 -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <a>{{ message }}</a>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- ボタン -->
        <div class="buttons">
            <form action="/mypage">
                <button class="back-button">マイページ</button>
            </form>
        </div>
    </div>


    {% block script %}
    {% endblock %}
{% endblock %}