{% extends 'base.html' %}

{% block head %}
<title>マイページ</title>
<link rel="stylesheet" href="../../static/css/btn3.css">
<link rel="stylesheet" href="../../static/css/mypage.css">
{% endblock %}

{% block main %} <!-- mainブロックの開始 -->
<div class="main-container"> <!-- メインコンテナ -->
    <div class="container">
        <!-- ユーザー情報 -->
        <div class="profile">
            <div class="profile-picture">
                {% if user['icon_path'] %}
                <img src="{{ user['icon_path'] }}" alt="プロフィール画像">
                {% else %}
                    <img src="../../static/img/none.png" alt="デフォルト画像">
                {% endif %}
            </div>
            <div class="profile-details">
                <h2>ユーザー名: <strong>{{ user['user_name'] }}</strong></h2>
                <p>メールアドレス: <strong>{{ user['mail'] }}</strong></p>
                <p>現在の身長: <strong>{{ user['height'] }}</strong>cm</p>
                <p>現在の体重: <strong>{{ user['latest_weight'] }}</strong>kg</p>
                <p>目標: <strong>{{ user['goal'] }}</strong></p>
                <p>自己紹介: <strong>{{ user['introduction'] }}</strong></p>
                <p>所在地: <strong>{{ user['address'] }}</strong></p>
                 <!-- パスワードをhiddenで保持 -->
                 <input type="hidden" id="userPassword" value="{{ user['password'] }}">
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- 体重入力（初回） -->
<!--  -  
        <form class="weight-input" action="/add-record" method="POST">
            <input type="text" name="weight" placeholder="体重入力">
            <button type="submit">送信</button>
        </form>
-->      
        <!-- 体重入力(2回目以降) -->
        <form id="weight-form" class="weight-input 2nd-records" action="/add-record" method="POST">
            <input type="text" id="weight-input" name="weight" placeholder="体重入力">
            <button type="submit" onclick="submitWeight()">送信</button>
        </form>

        <!-- ボタン -->
        <div class="buttons">
            <form action="/edit-user" class="buttons-form">
                <button class="edit-button">編集</button>
            </form>
            <form action="/weight-page" class="buttons-form">
                <button class="edit-button" name="span" value="week">詳細</button>
            </form>
            <!-- 目標追加項目 -->
            <!-- <button onclick="window.location.href = ''" class="edit-button">目標1</button> -->
            <!-- <button onclick="window.location.href = ''" class="edit-button">目標2</button> -->
            <!-- <button onclick="window.location.href = ''" class="edit-button">目標3</button> -->
            <form action="/delete-user" id="delete-button" class="buttons-form" method="post">
                <button type="submit" class="delete-button">退会</button>
            </form>
            <form action="/">
                <button class="back-button">戻る</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} <!-- bodyブロックの終了 -->


{% block script %} <!-- scriptブロックの開始 -->
    <!-- JSファイルのリンク -->
    <script src="../../static/js/mypage.js"></script>
{% endblock %} <!-- scriptブロックの終了 -->