<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
    <link rel="stylesheet" href="../../Static/css/mypage.css">
</head>
<body>
    <div class="container">
        <!-- ユーザー情報 -->
        <div class="profile">
            <div class="profile-picture">
                <img src="../../Static/img/hashimotokanna.jpeg" alt="プロフィール画像">
            </div>
            <div class="profile-details">
                <h2>ユーザー名: <strong>橋本環奈</strong></h2>
                <p>メールアドレス: <strong>yurusanai_kanna@example.com</strong></p>
                <p>現在の身長: <strong>160</strong>cm</p>
                <p>現在の体重: <strong>40</strong>kg</p>
                <p>目標: <strong>目標がここに表示されます</strong></p>
                <p>自己紹介: <strong>自己紹介がここに表示されます</strong></p>
                <p>所在地: <strong>埼玉県</strong></p>
            </div>
        </div>

        <!-- 体重入力 -->
        <div class="weight-input">
            <input type="text" placeholder="体重入力">
            <button>送信</button>
        </div>

        <!-- ボタン -->
        <div class="buttons">
            <button class="edit-button">編集</button>
            <button class="delete-button">退会</button>
            <button class="back-button">戻る</button>
        </div>
    </div>
    <script src="../../Static/js/mypage.js"></script>
</body>
</html>
