<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
    <link rel="stylesheet" href="../../Static/css/mypage.css">
</head>
<body>
    <div class="container">
        <!-- ユーザー情報 -->
        <div class="profile">
            <div class="profile-picture">
                <form action="/mypage" method="GET">
                    <img src="{{ users['icon_path'] }}" alt="プロフィール画像">
                </form>
            </div>
            <div class="profile-details">
                <form action="/mypage" method="GET">
                    <h2>ユーザー名: <strong>{{ users['user_name'] }}</strong></h2>
                    <p>メールアドレス: <strong>{{ users['mail'] }}</strong></p>
                    <p>現在の身長: <strong>{{ users['latest_weight'] }}</strong>cm</p>
                    <p>現在の体重: <strong>{{ users['height'] }}</strong>kg</p>
                    <p>目標: <strong>{{ users['goal'] }}</strong></p>
                    <p>自己紹介: <strong>{{ users['introduction']}}</strong></p>
                    <p>所在地: <strong>{{ users['address'] }}</strong></p>
                </form>
            </div>
        </div>
        <!-- 体重入力 BEへの受け渡し追加 -->
        <div class="weight-input">
            <form  action="/add_record" method="POST">
                <input type="text" placeholder="体重入力" name="weight">
                <button type="submit">送信</button>
            </form>
        </div>

        <!-- 体重以外の記録ルームの表示 -->
        {% if record_rooms %}
        {% for record_room in record_rooms %}
            <div>
                <p>{{ record_room['record_name'] }}</p>
                <form action="/add_record" method="POST">
                    <input type="text" placeholder="記録入力" name="{{ record_room['record_room_id'] }}">
                    <input type="hidden" name="{{ record_rooms.index(record_room) }}" value="{{ record_room['record_room_id'] }}">
                    <button type="submit">送信</button>
                </form>
            </div>
        {% endfor %}
        {% endif %}

        <!-- ボタン -->
        <div class="buttons">
            <button class="edit-button">編集</button>
            <button class="delete-button">退会</button>
            <button class="back-button">戻る</button>
        </div>
    </div>
    <script src="../../Static/js/mypage.js"></script>
</body>
</html>
