{% extends 'menu/base.html' %}

{% block head %} <!-- cssブロックの開始 -->
<title>インストラクター一覧</title>
<link rel="stylesheet" href="../../static/css/supporter.css">
<link rel="stylesheet" href="../../static/css/btn3.css">
{% endblock %} <!-- cssブロックの終了 -->

{% block main %} <!-- mainブロックの開始 -->
<div class="main-container"> <!-- メインコンテナ -->

    <!-- 戻るボタン -->
    <button onclick="history.back()" class="back-button">戻る</button>

    <!-- タイトル -->
    <div class="title">
        <h1>インストラクター一覧</h1>
    </div>

    <!-- インストラクター一覧のコンテナ -->
    <div class="container">
 
        <!-- インストラクター1 -->
        {% if instructors %}
        {% for instructor in instructors %}
        {% if instructor['user_name'] == 'deleted_instructor' %}
        {% else %}
        <div class="instructor-container">
            <img src="{{ instructor['icon_path'] }}" alt="インストラクターの画像" class="instructor-img">
            <h2 class="instructor-name">{{ instructor['user_name'] }}</h2>
            <p>出身地：{{ instructor['address'] }}</p>
            <p>自己PR：{{ instructor['introduction'] }}</p>
            {% if instructor['u_id'] not in invited_u_ids %}
            <form action="/add-chatroom">
                <button class="select-button" name="instructor_name" value="{{ instructor['user_name'] }}">選択</button>
            </form>
            {% else %}
            <button class="select-button">選択</button>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- {% endblock %} --> <!-- bodyブロックの終了 -->

