{% extends 'menu/base.html' %}

{% block head %}
    <title>インストラクター一覧</title>
    <link rel="stylesheet" href="../../static/css/suporter.css">
{% endblock %}

{% block body %}
    <h1>インストラクター一覧</h1>
        <!-- 戻るボタン -->
        <button type="button" class="back-button" onclick="history.back()">戻る</button>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="instructors">
        <!-- インストラクター -->
        {% if instructors %}
            {% for instructor in instructors %}
                {% if instructor['user_name'] == 'deleted_instructor' %}
                {% else %}
                    <div class="instructor">
                        <img src="{{ instructor['icon_path'] }}" alt="{{ instructor['user_name'] }}の画像">
                        <h2>{{ instructor['user_name'] }}</h2>
                        <p>出身地：{{ instructor['address'] }}</p>
                        <p>自己PR：{{ instructor['introduction'] }}</p>
                        {% if instructor['u_id'] not in invited_u_ids %}
                            <form action="/add-chatroom">
                                <button class="select-button" name="instructor_name" value="{{ instructor['user_name'] }}">選択</button>
                            </form>
                        {% else %}
                            <button class="select-button">選択</button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>まだインストラクターが登録されていません</p>
        {% endif %}
    </div>

    {% block script %}
    {% endblock %}
{% endblock %}
