{% extends 'option/base.html' %}

{% block title %}
<title>記録ルームの追加</title>
{% endblock %}

{% block body %}
    <h2>記録ルームの追加</h2>
    <form action="/add-recordroom" method="POST">
        <div>
            <label>記録名</label>
            <input type="text" name="record_name">
        </div>
        <div>
            <label>単位</label>
            <input type="text" name="unit">
        </div>
        <div>
            <label>公開する？</label>
            <input type="checkbox" name="is_public" value="0" checked><a>しない</a>
            <input type="checkbox" name="is_public" value="1"><a>する</a>
        </div>
        <div>
            <label>リマインドする？</label>
            <input type="checkbox" name="remind" value="0" checked><a>しない</a>
            <input type="checkbox" name="remind" value="1"><a>する</a>
        </div>
        <div>
            <label>リマインド時間</label>
            <input type="time" name="remind_time">
        </div>
        <button type="submit">作成</button>
    </form>
    {% block script %}
    {% endblock %}
{% endblock %}