<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="../static/css/aside.css">
        <link rel="stylesheet" href="../static/css/btn4.css">
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <!-- Header -->
        <header>
            <!-- ヘッダータイトル（Jinja2変数を想定） -->
            <h1 style="color: white;">人の腹見て我が腹直せ。</h1>
            <!-- メニューボタン -->
            <button id="menu-button">Menu</button>
        </header>

        <!-- サイドバー -->
        <aside id="sidebar" >
            <!-- プロフィール情報 -->
            <div id="profile">
                <p>Name: {{ user['user_name'] }}</p>
                <p>Height: <span id="height">{{ user['height'] }}</span> cm</p>
                <p>Weight: <span id="weight">{{ user['latest_weight'] }}</span> kg</p>
                <p>Location: <span id="location">{{ user['address'] }}</span></p>
            </div>
            <!-- ログアウトボタンと閉じるボタン -->
            <div class="button-container-side"> 
                <form action="/logout">
                    <input type="hidden" id="user-id" value="{{ user['user_password'] }}">
                    <button id="logout-button-side" >Logout</button>
                </form>
                    <button id="close-button">Close</button>
            </div>

        </aside>

        {% block main %}
        {% endblock %}

        <!-- フッター -->
        <footer>
        <!-- コピーライト -->
        <p>&copy; 2024 Example Company. All rights reserved.</p>
        <!-- 時刻表示 -->
        <p id="current-time"></p>
        </footer>

        <!-- JavaScriptファイルの読み込み -->
        <script src="../static/js/base.js"></script>
        <script src="../static/js/logout.js"></script>
        <script src="../static/js/time.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>