{% extends 'base.html' %}

{% block head %}
<title>メニュー</title>
<link rel="stylesheet" href="../static/css/menu.css">
<link rel="stylesheet" href="../static/css/btn1.css">
{% endblock %}

{% block main %} <!-- mainブロックの開始 -->
<div class="main-container"> <!-- メインコンテナ -->

    <div class="container"> <!-- 全体のコンテナ -->
        <!-- メニュー表示部 -->
        <div>
            <h3>Menu</h3>
            <ul>
                <li class="menu-button-width">
                    <form action="/mypage">
                        <button class="menu-button">マイページ</button>
                    </form>
                </li>
                {% if user['is_instructor'] == 1 %}
                {% else %}
                <li>
                    <form action="/instructors">
                        <button class="menu-button">インストラクター一覧</button>
                    </form>
                </li> 
                {% endif %}
            </ul>
        </div>
        <!-- チャットルーム表示部 -->
        <div class="chatroom">
            <h3>チャット一覧</h3>
 
            <ul>
                {% if rooms %}
                {% for i in range(rooms|length) %}
                <li>
                    <form action="/room{{ rooms[i]['room_id'] }}">
                    {% if latest_u_ids[i] != user['u_id'] %}
                    <!-- 最新のメッセージが相手ユーザーの場合 -->
                        <!-- インストラクターが退会済の場合 -->
                        {% if users_name[i] == 'deleted_instructor' %}
                        <button class="chatroom-button">{{ rooms[i]['room_name'] }}(退会済)</button>
                        <!-- インストラクターが登録中の場合 -->
                        {% else %}
                        <button class="chatroom-button">{{ rooms[i]['room_name'] }}({{ users_name[i] }})</button>
                        {% endif %}
                    {% else %}
                    <!-- 最新のメッセージがユーザーの場合 -->
                        <!-- インストラクターが退会済の場合 -->
                        {% if users_name[i] == 'deleted_instructor' %}
                        <button class="chatroom-button">{{ rooms[i]['room_name'] }}(退会済)</button>
                        <!-- インストラクターが登録中の場合 -->
                        {% else %}
                        <button class="chatroom-button">{{ rooms[i]['room_name'] }}({{ users_name[i] }})</button>
                        {% endif %}
                    {% endif %}
                    </form>
                    <!-- ユーザーが一般ユーザーの場合にのみ削除ボタンを表示 -->
                    {% if user['is_instructor'] == 0 %}
                    <form action="/delete-room{{ rooms[i]['room_id'] }}" method="POST">
                        <button id="delete-button" class="delete-button">削除</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
                {% else %}
                <p>チャットルームはありません</p>
                {% endif %}
            </ul>
 
        </div>
    </div>
</div>
{% endblock %} <!-- mainブロックの終了 -->


{% block script %} <!-- scriptブロックの開始 -->
    <!-- JSファイルのリンク -->
    <script src="../static/js/delete.js"></script>
{% endblock %} <!-- scriptブロックの終了 -->
