<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人の腹見て我が腹直せ。</title>
</head>
<body>
    

    <a href="./top.html">トップ </a><br>
    <a href="./login/user_login.html">ログイン</a><br><br>

    <a href="./index.html">メニュー</a><br>
    <a href="./menu/mypage.html">マイページ</a><br>
    <a href="./menu/edit_user.html">編集画面</a><br>
    <a href="./menu/weight_page.html">データページ</a><br>
    <a href="./menu/suporter.html">インストラクター</a><br><br>

    <a href="./menu/add_chatroom.html">チャット作成</a><br>
    <a href="./chat/chat.html">チャット</a><br><br>

    <a href="./signup/signup.html">新規登録</a><br><br>

    <a href="./error/404.html">404エラー</a><br>
    <a href="./error/500.html">500エラー</a><br>
    <a href="./error/error.html">エラー</a><br>
</body>
</html>

<!-- {% block css %} --> <!-- cssブロックの開始 -->
<!-- {% endblock %} --> <!-- cssブロックの終了 -->

<!-- {% block main %} --> <!-- mainブロックの開始 -->
<div class="main-container"> <!-- メインコンテナ -->

   <!-- 戻るボタン -->
   <button onclick="history.back()" class="back-button">戻る</button>

</div>
<!-- {% endblock %} --> <!-- bodyブロックの終了 -->


<!-- {% block script %} --> <!-- scriptブロックの開始 -->
    <!-- JSファイルのリンク -->

<!-- {% endblock %} --> <!-- scriptブロックの終了 -->