<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ログイン画面</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/btn.css">
        <link rel="stylesheet" href="../static/css/top.css">
    </head>
    <body>
        <div id="title" class="title">    <!-- タイトル表示部 -->
            <h1>生きるために食べよ。食べるために生きるのではない。</h1><br>
        </div>

        <div class="main">
            <div id="menu_user" class="contents1 button-container">    <!-- メニュー表示部（ユーザー） -->
                <h3>ユーザーの方はこちら</h3>
                <div id="menu">
                    <form action="/login">
                        <button class="login-button" onclick="window.location.href = './login/user_login.html'">ログイン</button>
                        <input type="hidden" name="is_instructor" value="0">
                    </form>
                </div>
                <div id="content">
                    <div class="dark" >
                        <form action="/signup" method="GET">
                            <button class="button-container" onclick="window.location.href = './signup/signup.html'">新規登録はこちら</button>
                            <input type="hidden" name="is_instructor" value="0">
                        </form>
                    </div>
                </div>
            </div>

            <div id="menu_ir" class="contents2 button-container">  <!-- メニュー表示部（インストラクター） -->
                <h3>インストラクターの方はこちら</h3>
                <div class="dark" class="button-container">
                    <form action="/login">
                        <button class="login-button" onclick="window.location.href = './login/user_login.html'">ログイン</button>
                        <input type="hidden" name="is_instructor" value="1">
                    </form>
                </div>
                <div class="dark" class="button-container">
                    <form action="/signup" method="GTE">
                        <button class="button-container" onclick="window.location.href = './signup/signup.html'">新規登録はこちら</button>
                        <input type="hidden" name="is_instructor" value="1">
                    </form>
                </div>
            </div>
        </div>
    
        <script src="../static/js/popup.js"></script>
        <script src="../static/js/popup2.js"></script>
    </body>
</html>