/* ログインボタンのスタイル */
.login-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none; /* ボーダーをなしに */
  border-radius: 10px; /* 角の丸み */
  padding: 15px 30px; /* 上下左右の余白 */
  font-size: 18px; /* フォントサイズ */
  display: inline-block; /* インラインブロック要素に設定 */
  margin-bottom: 30px; /* 下部に10ピクセルのマージンを追加 */
}

.login-button:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}


