body {
    margin: 0;
    padding: 0;
    background-size: 150% auto; /* 背景画像を横方向に200%拡大し、縦方向は自動で調整 */
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: slideshow 20s linear infinite, moveBackground 20s linear infinite; /* アニメーションを適用 */
}

@keyframes slideshow {
    0% { background-image: url('../top/image1.jpg'); }
    25% { background-image: url('../top/image2.jpg'); }
    50% { background-image: url('../top/image3.jpg'); }
    75% { background-image: url('../top/image4.webp'); }
    90% { background-image: url('../top/image5.jpeg'); }
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}


/* コンテナのスタイル */
.container {
    display: flex;
    flex-direction: column; /* 要素を縦に配置 */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* タイトルのスタイル */
.title {
    margin-bottom: 20px; /* タイトルとメニューの間隔 */
}

/* メニュー表示部のスタイル */
#menu_user {
    text-align: center; /* ボタンを中央に配置 */
    background: #fff; /* 白色の背景 */
    padding: 40px 15px; /* 上下に余白を追加 */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
    width: 60%; /* 幅を60%に設定 */
}

/* タイトルのスタイル */
.title h1 {
    margin: 0;
    font-size: 2rem; /* フォントサイズを大きく */
    color: white; /* 白色の文字 */
}
