/* コンテナのスタイル */
.container {
    display: flex;
    flex-direction: column; /* 要素を縦に配置 */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #777, #333); /* グレーから濃い色にグラデーション */
}

/* タイトルのスタイル */
.title {
    margin-bottom: 20px; /* タイトルとメニューの間隔 */
}

/* メニュー表示部のスタイル */
#menu_user {
    text-align: center; /* ボタンを中央に配置 */
    background: #fff; /* 白色の背景 */
    padding: 40px 15px; /* 上下に余白を追加 */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
    width: 60%; /* 幅を60%に設定 */
}

/* タイトルのスタイル */
.title h1 {
    margin: 0;
    font-size: 2rem; /* フォントサイズを大きく */
    color: white; /* 白色の文字 */
}
