<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Static/css/btn3.css">
    <link rel="stylesheet" href="../../Static/css/login.css">
    <title>人の腹見て我が腹直せ。/ログイン</title>
</head>
<body>

    <!-- 戻るボタン -->
    <button id="back-button" class="back-button" onclick="window.location.href='../top.html';">戻る</button>


    <div class="container">

        <form>
            <p class="fsize">ユーザーログイン画面</p>
            <input type="text" placeholder="mall" name="mail"/><br>
            <input type="password" placeholder="Password" name="password"/><br>
            <button type="submit">ログイン</button><br>
        </form>
    </div>
</body>
</html>
